<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home -- Welcome</title>
    </head>

    <body>
        <h1>Hi~ <%= username %>
        </h1>
        Everything is fine~<br>
        <a href="./download">Download server file</a>
        <br><a href="./jsonExample">Show json</a>
    </body>

</html>