<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home -- Welcome</title>
    </head>

    <body>
        <h1>Hi~ <%= locals.username || "Default User" %>
        </h1>
        <!-- use locals.variableName to avoid undefined error -->
        Everything is fine~<br>
        <a href="./download">Download server file</a>
        <br><a href="./jsonExample">Show json</a>

        <h2>User Routes</h2>
        <a href="./users">See Users List</a><br>
        <a href="./users/new">Register Now</a><br>

        <h2>Let's Visit Files in Public Routes</h2>
        <a href="./test.html">test</a><br>

    </body>

</html>